<nav class="cat-menu">
    <ul>
        {% for category in categories %}
            <li><a href="{{ category.name }}"> {{ category.name }} </a></li>
        {% endfor %}
    </ul>
</nav>
<div class="content">
    <div class="items-grid">
        {% for product in productList %}
            <div class="item">
                <h1> {{ product.name }} </h1>
                <h2> {{ product.price }} Gold </h2>
                <p> {{ product.description }} </p>
            </div>
        {% endfor %}
    </div>
</div>